BOT_TOKEN=
BOT_USERNAME=
CHANNELS=
CHANNEL_USERNAME=

REG_BOT_TOKEN=
REG_BOT_USERNAME=
REG_MEDIA_CHAT=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=raffles
DB_USER=postgres
DB_PASS=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

REG_REDIS_HOST=localhost
REG_REDIS_PORT=6379
REG_REDIS_DB=1